@page
@using System.Text
@using VisitTracker.Models
@model VisitTracker.Web.Pages.PageReportModel

@{
    string xvaluevisit = "", yvaluevisit = "", yreturnvaluevisit = "", ynewvaluevisit = "", browserlabel = "", browserpoint = "";
    StringBuilder builder = new StringBuilder();
    StringBuilder buildery = new StringBuilder();
    foreach (var point in Model.DisplayInfo.VisitsData)
    {
        builder.Append("'");
        builder.Append(point.X);
        builder.Append("',");

        buildery.Append(point.Y);
        buildery.Append(",");
    }

    xvaluevisit = builder.ToString().TrimEnd(",".ToCharArray());
    yvaluevisit = buildery.ToString().TrimEnd(",".ToCharArray());
    builder.Clear();
    buildery.Clear();

    foreach (var point in Model.DisplayInfo.ReturnVisitsData)
    {
        buildery.Append(point.Y);
        buildery.Append(",");
    }
    yreturnvaluevisit = buildery.ToString().TrimEnd(",".ToCharArray());
    buildery.Clear();
    foreach (var point in Model.DisplayInfo.NewVisitsData)
    {
        buildery.Append(point.Y);
        buildery.Append(",");
    }
    ynewvaluevisit = buildery.ToString().TrimEnd(",".ToCharArray());
    buildery.Clear();
    foreach (var point in Model.DisplayInfo.BrowserData)
    {
        builder.Append("'");
        builder.Append(point.Label);
        builder.Append("',");

        buildery.Append(point.Percentage);
        buildery.Append(",");
    }

    browserlabel = builder.ToString().TrimEnd(",".ToCharArray());
    browserpoint = buildery.ToString().TrimEnd(",".ToCharArray());

    builder.Clear();
    buildery.Clear();
}
@section Head {
    <link rel="stylesheet" href="//cdn.datatables.net/2.1.3/css/dataTables.dataTables.min.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css" />
}

<div class="container-fluid">
    <h1 class="fs-3">@Model.DisplayInfo.Path</h1>
    <p class="mb-2">In @Model.DisplayInfo.VisitChartDescription</p>
    <div class="my-4">
        <div id="chartVisit" class="ct-chart ct-perfect-fourth" style="max-height:250px;"></div>
        <div>
            <span class="text-info me-2 fw-bold">All</span>
            <span class="text-danger me-2 fw-bold">Return</span>
            <span class="text-warning me-2 fw-bold">New</span>
        </div>
    </div>

    <div class="p-2">
        <h4 class="title">Browsers</h4>
        <p class="mb-2">In @Model.DisplayInfo.VisitChartDescription</p>

        <div>
            <div id="chartPreferences" class="ct-chart ct-perfect-fourth" style="max-height:250px;"></div>
        </div>
    </div>

    @* <div class="p-2">
        <h4 class="title">Visit Referer</h4>
        <p class="mb-2">In @Model.DisplayInfo.VisitChartDescription</p>
        <table class="table table-striped browserdata" id="vrtable">
            <thead>
                <tr>
                    <th>Referer</th>
                    <th>Count</th>
                </tr>
            </thead>
            <tbody>
                @foreach (RefererData item in Model.DisplayInfo.RefererList.OrderByDescending(t => t.Count))
                {
                    <tr>
                        @if (string.IsNullOrEmpty(item.Referer))
                        {
                            <td>None</td>
                        }
                        else
                        {
                            <td>
                                @Html.Raw(item.Referer)
                            </td>
                        }
                        <td>@item.Count</td>
                    </tr>
                }
            </tbody>
        </table>
    </div> *@

    @* <div class="row">
        <div class="col-md-12" style="max-height:460px;">
            <div class="card">
                <div class="header">
                    <h4 class="title">Click Map</h4>
                    <p class="category">In @Model.DisplayInfo.VisitChartDescription</p>
                </div>
                <div class="content" style="text-align:center;">
                    <div style="overflow:auto; max-height:600px;">
                        <img src="@Url.Content(Model.DisplayInfo.HeatMapPath)" class="img-fluid" />
                    </div>
                </div>
            </div>
        </div>

    </div> *@
</div>

@section Scripts {
    <script src="//cdn.datatables.net/2.1.3/js/dataTables.min.js"></script>
    <script>
        let vrtable = new DataTable('#vrtable', {
            order: [[1, 'desc']]
        });
    </script>
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <script>
        var dataVisits = {
            labels: [@Html.Raw(xvaluevisit) ],
            series: [
                [@Html.Raw(yvaluevisit)],
                [@Html.Raw(ynewvaluevisit)],
                [@Html.Raw(yreturnvaluevisit)]
            ]
        };


        var options = {
            seriesBarDistance: 10,
            axisX: {
                showGrid: false
            },
            height: "245px",
            axisY: {
                onlyInteger: true
            }
        };

        var responsiveLH = [
            ['screen and (max-width: 640px)', {
                axisX: {
                    labelInterpolationFnc: function (value) {
                        return value[0];
                    }
                }
            }]
        ];

        Chartist.Line('#chartVisit', dataVisits, options, responsiveLH);

        var dataPreferences = {
            labels: [@Html.Raw(browserlabel)],
            series: [[@Html.Raw(browserpoint)]]
        };

        var optionsPreferences = {
            axisX: {
                labelInterpolationFnc: function (value, index) {
                    return value;
                }
            }
        };
        new Chartist.Bar('#chartPreferences', dataPreferences, optionsPreferences);
    </script>
}