@model VTracker.Models.HomepageData

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/css")
    <link href="@Url.Content("~/Content/themify-icons.css")" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="wrapper">
        <div class="main-panel" style="width:100%;background:linear-gradient(150deg,#281483 15%,#8f6ed5 70%,#d782d9 94%);height:100vh;">
            <div class="content">
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <div class="card">
                                <div class="header text-center">
                                    <h1 class="title">Visit Tracker</h1>
                                    <p class="category">Best way to know what your visitors are doing on your website.</p>
                                    <br />
                                </div>
                                <div class="content">
                                    <ul class="list-unstyled team-members">
                                        @foreach (var w in Model.Websites)
                                        {
                                            <li>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        @w.Name
                                                    </div>
                                                    <div class="col-md-4 text-right">
                                                        <a href="http://rudrasofttech.com/vtracker/report/websitepublicstats/@w.ID">Go To Dashboard</a>
                                                    </div>
                                                    <div class="col-md-4 text-right">
                                                        <a href="http://@w.Name" target="_blank">Visit Website</a>
                                                    </div>
                                                </div>
                                            </li>
                                        }

                                        
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="card">
                                        <div class="content">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="numbers" style="text-align:center;">
                                                        <p title="Visits Tracked">Visits Tracked</p>
                                                        @Model.VisitCount.ToString("#,#00")
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="card">
                                        <div class="content">
                                            <div class="row">

                                                <div class="col-xs-12">
                                                    <div class="numbers" style="text-align:center;">
                                                        <p title="Activities Recorded">Activities Recorded</p>
                                                        @Model.ActivityCount.ToString("#,#00")
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
